<a href="https://colab.research.google.com/github/Ayushi1303/Innomatics-Research-Labs-Advanced-GenAI-Internship-Entrance-Test/blob/main/February_Internship_Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
text_input=input("Enter sentence:")

words=text_input.split()

unique_words=set(words)

print("unique word count :",len(unique_words))
print("unique words:",unique_words)

Enter sentence:Welcome to bangalore
unique word count : 3
unique words: {'Welcome', 'bangalore', 'to'}

In [2]:
employees = { "Ravi": 75000, "Anita": 68000, "Kiran": 72000 }

top_employee=""
max_salary=0

for name in employees:
  max_salary=max(max_salary,employees[name])
  if max_salary==employees[name]:
    top_employee=name
print("Highest Salary:",top_employee,"-",max_salary)

Highest Salary: Ravi - 75000

In [11]:
List : [45, 22, 89, 10, 66]
Max : 89
Min :10

In [4]:
prices = [450, 1200, 899, 1500, 300]

count=0

for price in prices:
  if price>1000:
    count+=1
print("product above 100 :",count)

product above 100 : 2

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for status in attendance:
  if status == "P":
    present_count+=1


total_days = len(attendance)

percentage = (present_count / total_days)* 100

print("Attendance percentage:", percentage)

Attendance percentage: 80.0

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers=set(phone_numbers)

print("Unique numbers :",unique_numbers)

Unique numbers : {9876543210, 9123456789}

In [7]:
text="pythonp"

char_count={}

for ch in text:
  if ch in char_count:
    char_count[ch]+=1
  else:
    char_count[ch]=1
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
number=[10,20,30]

number_tuple=tuple(number)

print("Tuple:",number_tuple)

Tuple: (10, 20, 30)

In [9]:
data={
    "Employee" : "Rajeshwari",
    "Age" : 23,
    "Email":"kuruvarajeshwari123@gmail.com"
}

key_exist="Employee"

if key_exist in data:
  print("Employee exist")
else:
  print("Employee does  not exist")

Employee exist

In [10]:
marks=[70,75,80,65]

average=sum(marks)/len(marks)

print("Average marks:",average)

Average marks: 72.5